date.time = {{ phpDateTimezone }} 
display_errors = {{ phpDisplayErrors }}
memory_limit = {{ phpMemoryLimit }} 
max_execution_time = {{ phpMaxExecutionTime }}
post_max_size = {{ phpPostMaxSize }}
upload_max_filesize = {{ phpUploadMaxFilesize }}